/* The Social Network */

.SocialCard {
  margin: 1rem;
  border: 1px solid lightgrey;
  box-shadow: 5px 5px 5px 5px lightgrey;
  margin-right: 40px;
  padding: 20px 30px;
  /* width: fit-content; */
  width: 220px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.SocialImg {
  width: 100px;
  border-radius: 50%;
}

 

.SocialCard pre {
  color: black;
  font-weight: bolder;
  margin: 0;
  padding: 10px 0 0 0;
}

.SocialCard p {
  margin: 0;
  padding: 0;
}

.SocialName {
  font-size: 1.25rem;
  font-weight: bold;
}